<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="page-header">
        <h1>Map Application
          <small>continents, countries and cities</small>
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="panel panel-default">
        <div class="panel-heading"><b>Menu</b></div>
        <div class="panel-body">
          <ul class="nav nav-pills nav-stacked">
            <li role="presentation" routerLinkActive="active"><a routerLink="/home">Home</a></li>
            <li role="presentation" routerLinkActive="active"><a routerLink="/continents">Continents</a></li>
            <li role="presentation" routerLinkActive="active"><a routerLink="/countries">Countries</a></li>
            <li role="presentation" routerLinkActive="active"><a routerLink="/cities">Cities</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">&copy; 2018 Bartłomiej Zalas</div>
  </div>
</div>


